@model ClaimRejectionInsert_DOTNET.Models.ClaimsSubmission

@{
    ViewData["Title"] = "Create Claims";
}
<script type="text/javascript" src="~/js/site.js"></script>

<!-- ---------------------------------------------->
<!--                     Gears                   -->
<!-- ---------------------------------------------->

<div class="container p-0">
    <div class="row justify-content-between pb-2">
        <div class="col-lg-3 py-3">
            <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName=@ViewBag.TableName
               id="createButton" class="btn btn-info">View claims</a>
        </div>
        <div class="col-lg-6 pb-2">

            <div id="loadingGears">
                <div class="gear one">
                    <svg id="blue" viewBox="0 0 100 100" fill="#94DDFF">
                        <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6
                                    c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3
                                    l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9
                                    c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                        </path>
                    </svg>
                </div>
                <div class="gear two">
                    <svg id="pink" viewBox="0 0 100 100" fill="#FB8BB9">
                        <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6
                                    c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3
                                    l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9
                                    c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                        </path>
                    </svg>
                </div>
                <div class="gear three">
                    <svg id="yellow" viewBox="0 0 100 100" fill="#FFCD5C">
                        <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6
                                    c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3
                                    l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9
                                    c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <div> <h2> <strong> @ViewBag.GetTableShortName </strong> </h2></div>
    <hr />



    <!-- ---------------------------------------------->
    <!--      CREATE CLAIMS FORM                     -->
    <!-- ---------------------------------------------->

    @if (@ViewBag.Error != null)
    {
        <br />
        <div class="row justify-content-center">
            <div class="alert alert-danger">
                <div> <strong> @ViewBag.Error </strong> </div>
            </div>
        </div>
    }

    else
    {
        <div class="container">
            <form asp-controller="Home" asp-action="CreateClaims" method="post">
                @if (@ViewBag.MessageInsertedClaims != null)
                {
                    <div class="col-lg-12 alert myAlertDelete alert-info">
                        <div>  <b> @ViewBag.MessageInsertedClaims </b> </div>
                    </div>
                }

                @if (@ViewBag.MessageInvalidClaims != null)
                {
                    <div class="col-lg-12 alert myAlertInvalid alert-danger">
                        <div>  <b> @ViewBag.MessageInvalidClaims </b> </div>
                    </div>
                }

                @if (@ViewBag.MessageDupClaims != null)
                {
                    <div class="col-lg-12 alert myAlertDup alert-danger">
                        <div> <b> @ViewBag.MessageDupClaims </b> </div>
                    </div>
                }

                <div class="form-group" style="margin-top:10px;">
                    <textarea asp-for="ClaimsString" rows="10" cols="50" placeholder="Enter Reject Claims here.." required></textarea>
                </div>

                <span asp-validation-for="ClaimsString" class=" col-md-offset-2 col-md-10 text-danger font-weight-bold"></span>

                <div class="form-group" id="SubmitButton">
                    <button type="submit" value="Save" asp-route-tableName=@ViewBag.TableName class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>

    }

</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
