@model IEnumerable<ClaimRejectionInsert_DOTNET.Models.Claim>
@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/js/site.js"></script>

<div class="container p-0">
    <!-- ---------------------------------------------->
    <!--                     Gears                   -->
    <!-- ---------------------------------------------->
    <div class="row justify-content-lg-center py-1">
        <div class="col-lg-2  my-2" id="loadingGears">

            <div class="gear one">
                <svg id="blue" viewBox="0 0 100 100" fill="#94DDFF">
                    <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6
                                      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3
                                      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9
                                      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="gear two">
                <svg id="pink" viewBox="0 0 100 100" fill="#FB8BB9">
                    <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6
                                      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3
                                      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9
                                      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="gear three">
                <svg id="yellow" viewBox="0 0 100 100" fill="#FFCD5C">
                    <path d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6
                                      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3
                                      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9
                                      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>

            </div>
        </div>
    </div>
    <!-- ---------------------------------------------->
    <!--                     END Gears               -->
    <!-- ---------------------------------------------->


    <div class="container px-0">

        <div class="row justify-content-md-center mt-2">
            <div class="col-lg-12">
                <h4> <strong> Staged claims to be deleted from PROVIDER @ViewBag.GetTableShortName </strong> </h4>
            </div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="col-lg-12">
                <h5>Total = <strong> @ViewBag.TableCount </strong></h5>
            </div>
        </div>
        
        <div class="row justify-content-center">

            <div class="col-lg-10 px-0 mt-0 py-0">

                <form asp-controller="Home" asp-action="DeleteClaims" asp-route-tableName=@ViewBag.TableName method="post">

                    <div class="row justify-content-between mt-2 mb-3">
                        <span>
                            <a asp-controller="Home" asp-action="CreateClaims" asp-route-tableName=@ViewBag.TableName class="btn btn-group btn-info py-3 px-5" style="background:#17a2b8; font-weight:600; ">
                                <!-- <img src="~/images/insert.png" style="height:40px" />-->
                                Add
                            </a>
                        </span>

                        <input type="submit" class="btn btn-danger py-3 px-4" stlye="font-weight:600" name="removeSelected" value="Remove" />
                    </div>


                    @if (@ViewBag.Error != null)
                    {
                        <br />
                        <div class="row justify-content-center">
                            <div class="alert myAlertDelete alert-danger">
                                <div> <strong> @ViewBag.Error </strong></div>
                            </div>
                        </div>
                    }


                    @if (@ViewBag.Message != null)
                    {

                        <div class="row justify-content-center">
                            <div class="alert myAlertDelete alert-dark">
                                <div>  <strong> @ViewBag.Message </strong> </div>
                            </div>
                        </div>
                    }


                    <!--<div id="loadingSpinner"></div>-->
                    <!-- ---------------------------------------------->
                    <!--      CLAIM FORM FOR DISPLAY/DELETE          -->
                    <!-- ---------------------------------------------->



                    <div class="row justify-content-center">
                        <div class="col-lg-12 px-0">
                            <table id="myTable" class="table table-bordered table-striped px-0">
                                <thead>
                                    <tr>
                                        <th class="active col-auto" style="padding:5px;">
                                            <div class="col-lg-12">
                                                <button id="select-all" type="button" class="btn btn-info">Select All</button>
                                            </div>
                                        </th>
                                        <th> @Html.DisplayNameFor(model => model.ClaimId)</th>
                                        <th> @Html.DisplayNameFor(model => model.CreatedByUser)</th>
                                        <!--    <th> @Html.DisplayNameFor(model => model.CreatedByService)</th>-->
                                        <th> @Html.DisplayNameFor(model => model.CreatedDate)</th>
                                        <th> @Html.DisplayNameFor(model => model.PrprNpi)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="active">
                                                <input type="checkbox" class="select-item checkbox" style="width:20px; height:20px;" name="deleteClaims" value=@item.ClaimId />
                                            </td>
                                            <td>  @Html.DisplayFor(modelItem => item.ClaimId)</td>
                                            <td>  @Html.DisplayFor(modelItem => item.CreatedByUser)</td>
                                            <!--  <td>  @Html.DisplayFor(modelItem => item.CreatedByService)</td>-->
                                            <td>  @Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                            <td> @Html.DisplayFor(modelItem => item.PrprNpi)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


